<head>
  <title>Button BEM</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width">

  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link href="./css/app.min.css" media="all" rel="stylesheet">
</head>