.button
{
	display: inline-block;
	vertical-align: middle;

	border: 2px solid #666;
  background-color: transparent;

	color: #666;
	font-size: 17px;
	text-align: center;

	min-width: 165px;

	height: 40px;
	line-height: 36px;
	
	padding: 0 10px;
	margin: 0;

	outline: none;

	transition: 0.3s;

	box-sizing: border-box;

	cursor: pointer;

	appearance: none;

	&:hover
	{
		background-color: #fff;
		border-color: #c64727;
		color: #c64727;
	}

	&:active
	{
		background-color: #eee;
	}

	&_green
	{
		border-color: #339966;
		background: #339966;
		color: #fff;
	}

	&_red
	{
		border-color: #c74727;
		background: #c74727;
		color: #fff;
	}


	&_small
	{
		height: 30px;
		line-height: 26px;
		min-width: 100px;
	}

	&_middle
	{
		height: 46px;
		line-height: 40px;
		min-width: 200px;
	}

	&_large
	{
		height: 56px;
		line-height: 50px;
		min-width: 300px;
	}

	&[disabled] {
		opacity: .5;
		pointer-events: none;
	}
}
