$font-base: 'Ubuntu', Arial, sans-serif;

html,
body
{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #000;  
  font-family: $font-base;
}

body
{
  background: #fff;
}

.wrapper
{
	min-height: 100%;
	width: 100%;
	overflow: hidden;
  line-height: normal;
}

.limiter
{
  width: 100%;
  max-width: 1400px;

  padding: 0 10px;

  margin: 0 auto;

  box-sizing: border-box;
}

a
{
  text-decoration: none;
}